<!DOCTYPE html>
<html>
  <head>
    <title>와인 취향 찾기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="{{ url_for('static', filename='main_web.js') }}"></script>  <!-- JS 파일을 분리하여 불러옴 -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_styles.css') }}">
  </head>
  <body>
    <h1>🍷 와인 취향 찾기</h1>
    <span>맞춤형 와인을 찾는데 도움이 됩니다</span>

  <div class="form-container">
    <form id="form1">
      <p>1. 과일과 관련된 취향</p>
      <div class="radio-group">
        <label
          ><input type="radio" name="fruit" value="strawberry" /> 딸기</label>
        <label><input type="radio" name="fruit" value="apple" /> 사과</label>
        <label><input type="radio" name="fruit" value="cherry" /> 체리</label>
        <label
          ><input type="radio" name="fruit" value="blackberry" />
          블랙베리</label
        >
        <label><input type="radio" name="fruit" value="plum" /> 자두</label>
      </div>
    </form>
  </div>
  </br>

  <div class="form-container">
    <form id="form2">
      <p>2. 평소 어떤 종류의 음식을 좋아하시나요?</p>
      <div class="radio-group">
        <label><input type="radio" name="food" value="steak" /> 스테이크</label>
        <label><input type="radio" name="food" value="seafood" /> 해산물</label>
        <label><input type="radio" name="food" value="cheese" /> 치즈</label>
        <label><input type="radio" name="food" value="salad" /> 샐러드</label>
        <label><input type="radio" name="food" value="dessert" /> 디저트</label>
      </div>
    </form>
  </div>
  </br>

  <div class="form-container">
    <form id="form3">
      <p>
        3. 강한 알코올 도수, 아니면 가벼운 도수를 좋아하시나요?
      </p>
      <div class="radio-group">
        <label
          ><input type="radio" name="proof" value="strong" /> 강한 도수</label
        >
        <label
          ><input type="radio" name="proof" value="light" /> 가벼운 도수</label
        >
      </div>
    </form>
  </div>
  </br>

  <div class="form-container">
    <form id="form4">
      <p>4. 와인에서 어떤 느낌을 찾고 싶으신가요?</p>
      <div class="radio-group">
        <label
          ><input type="radio" name="feel" value="diversion" /> 기분 전환</label
        >
        <label
          ><input type="radio" name="feel" value="special" /> 특별한 자리</label
        >
        <label><input type="radio" name="feel" value="meal" /> 식사 보완</label>
      </div>
    </form>
  </div>
  </br>

  <div class="form-container">
    <form id="form5">
      <p>
        5. 진하고 강렬한 와인과 부드럽고 연한 와인 중 <br>
        어떤 것이 끌리나요?
      </p>
      <div class="radio-group">
        <label
          ><input type="radio" name="texture" value="thick" /> 진하고 강렬한
          와인</label
        >
        <label
          ><input type="radio" name="texture" value="soft" /> 부드럽고 연한
          와인</label
        >
      </div>
    </form>
  </div>
  </br>

  <div class="form-container">
    <form id="form6">
      <p>6. 와인 구매 시 어느 정도의 가격대를 선호하시나요?</p>
      <div class="radio-group">
        <label
          ><input type="radio" name="budget" value="daily" /> 저렴한 일상용 와인
          (만원 이하)</label
        >
        <label
          ><input type="radio" name="budget" value="commonly" /> 적당한 가격대
          (2~5만 원)</label
        >
        <label
          ><input type="radio" name="budget" value="special" /> 특별한 날,
          고급 와인 (5만 원 이상)</label
        >
      </div>
    </form>
  </div>
  </br>

  <div class="form-container">
    <form id="form7">
      <p>7. 와인향 취향</p>
      <div class="radio-group">
        <label><input type="radio" name="smell" value="fruitsmell" /> 과일향</label>
        <label><input type="radio" name="smell" value="flower" /> 꽃향</label>
        <label><input type="radio" name="smell" value="wody" /> 나무향</label>
        <label><input type="radio" name="smell" value="acrid" /> 매운향</label>
      </div>
    </form>
  </div>
  </br>
    <button id="submitButton">확인</button>
  </body>
</html>
